*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    background: black;
    color: white;
    min-height: 100vh;
    padding-top: 1px;
}
.heading{
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.section{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.button{
    width: 30%;
    margin: 0 35% 30px 35%;
    background: green;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}